


<h1 class="text-3xl font-bold underline mb-6 text-center">
  Voici les Catégories
</h1>

@for (category of categories; track category.id) {
    <div class="flex justify-center mb-4">
        <button routerLink="/quiz/{{category.id}}" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <p class="font-normal text-gray-700 dark:text-gray-400">{{category.nom}}</p>
        </button>
    </div>
}


